{% extends 'master.html' %}

{% block body %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h2>Teacher List</h2>
<a href="{% url 'AddTeacher' %}">Add Teacher</a>
<table>
  <tr>
    <th>Teacher Name</th>
    <th>Department</th>
    <th>Email</th>
    <th>Designation</th>
    <th>Actions</th>
  </tr>

{% for i in teacherList %}

  <tr>
    <td>{{i.Teacher_Name}}</td>
    <td>{{i.Department_Name}}</td>
    <td>{{i.Email}}</td>
    <td>{{i.Designation}}</td>
    <td>
      <a href="">Edit</a>
      <a href="{% url 'DeleteTeacher' i.id %}">Delete</a>
      <a href="">View</a>
    </td>
  </tr>
  {% endfor %}

</table>

{% endblock body %}