body{
    background-color: brown;
}
p{
    color: blueviolet;
}
.second_p{
    color: black;
    background-color: aqua;
}
tr, td{
    color: white;
    border: 1px solid black;
    padding: 3px;
}
/* table{
    border: 1px solid blue;
} */