body{
    background-color: brown;
}
p{
    color: blueviolet;
}
.second_p{
    color: black;
    background-color: aqua;
}
tr, td{
    color: white;
    border: 1px solid black;
    padding: 3px;
}
table{
    width: 100%;
}
tfoot{
    font-size: .8em;
    text-align: end;
    font-style: italic;
}
/* Add this to your style.css */
form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* space between fields */
}

form label,
form input,
form textarea,
form select,
form button {
    width: 100%; /* optional: makes fields full width */
}
