{% extends "master.html" %}
{% block body %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .card-container {
        display: flex;
        /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
        gap: 20px;
        margin-top: 30px;
        justify-content: center;
        justify-items: center;
    }

    .card {
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-content {
        padding: 15px;
    }

    .card-content h3 {
        margin: 0 0 10px 0;
        color: #333;
    }

    .card-content p {
        font-size: 14px;
        color: #555;
        overflow: hidden;
    }

</style>

<h1>View indivisual data:</h1>

<div class="card-container">
    <div class="card">
        <img src="/{{ data.studentImage }}" height='150px'>
        <div class="card-content">
            <h3>Name: {{ data.studentName }}</h3>
            <p>Age: {{ data.studentAge }}</p>
            <p>Bio: {{ data.studentBio }}</p>
            <p>Created At: {{ data.createdAt }}</p>
            <p>Update At: {{ data.updateAt }}</p>
        </div>
    </div>
</div>

{% endblock body %}