{% extends 'base.html' %}

{% block body %}


<style>
    body {
        font-family: 'Segoe UI', sans-serif;
        background-color: #f5f7fa;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: fit-content;
        margin: 40px auto;
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 30px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        background-color: #4CAF50;
        color: white;
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tbody tr:hover {
        background-color: #f1f1f1;
    }

    .no-tasks {
        text-align: center;
        color: #999;
        padding: 20px;
    }
</style>

<div class="container">
    <h1>All Jobs</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Salary</th>
            <th>Location</th>
            <th>deadline</th>
            <th>Action</th>
        </tr>

        {% for i in data %}
        <tr>
            <td>{{ i.title }}</td>
            <td>{{ i.description }}</td>
            <td>{{ i.salary }}</td>
            <td>{{ i.location }}</td>
            <td>{{ i.deadline }}</td>
            <td>
                <a href="{% url 'delete' i.id %}">Delete</a> |
                <a href="{% url 'views' i.id %}">Views</a> |
                <a href="{% url 'update' i.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock body %}